<h1 style="color: firebrick;"> Welcome To ITI Courses Database</h1>
<hr>
<img src="https://img1.pnghut.com/19/14/1/sKx1m8i43r/iti-learning-higher-education-institution-red.jpg">
<hr>
<a class="btn btn-primary btn-lg btn-block" asp-action="ShowCourses">Courses</a>
<hr>
<a class="btn btn-primary btn-lg btn-block" asp-action="ShowStudents">Students</a>
